<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059245792814-vrsgpgnt4uvtgg8c4ksfjfbhlk3ls6ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059245792814-vrsgpgnt4uvtgg8c4ksfjfbhlk3ls6ca</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1059245792814-uh1r9kjq8e8rgldd629hne99829g60kv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAeb5cIwyxEnmC4cDb9L8XinuCoel2Cnbc</string>
	<key>GCM_SENDER_ID</key>
	<string>1059245792814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studynotes</string>
	<key>PROJECT_ID</key>
	<string>studynotes-377615</string>
	<key>STORAGE_BUCKET</key>
	<string>studynotes-377615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059245792814:ios:dc91e19905bebfdc8689bf</string>
</dict>
</plist>